:host {
  display: flex;
  width: 100%;
}
.message {
  display: flex;
  flex-direction: column;
  background: #ccc;
  max-width: 400px;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 8px 8px 8px 0;
  &.full-width {
    width: 100%;
  }
  &__photos {
    &-item {
      img {
        width: 100%;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    line-height: 16px;
    .author {
      margin-right: 16px;
      font-size: 14px;
    }
    .date {
      margin-left: auto;
      font-size: 10px;
    }
  }
  &__text {
    white-space: pre-line;
    word-break: break-word;
    display: flex;
    margin-bottom: 4px;
  }
  &.my {
    margin-left: auto;
    border-radius: 8px 8px 0 8px;
    .message {
      &__text {
        margin-left: auto;
      }
    }
  }
}
